<!DOCTYPE html>
<html lang="en">

<%- include('../partials/_head_auth.ejs', { page: `ReVamp(ire)`}) %>

<body>
  <section class="card">
    <article class="card-content">
      <h1 class='card-title'>Log in</h1>

      <!-- FORM -->
      <div class="card-body">
        <form action="/login" method="POST">

          <!-- EMAIL -->
          <div class="field">
            <div class="label-left-right">
                <h5 class="label label-left"> Email</h5>
                <p class="label label-right">
                    Need an account?  
                    <a href='/signup'>Sign up</a>
                </p> 
            </div>
            <div class="control">
              <input 
                  class="input"
                  type="text"
                  placeholder="example@gmail.com"
                  name="email"
              />
            </div>
          </div>
          
          <!-- PASSWORD -->
          <div class="field">
              <label class="label">
                Password
              </label>
              <div class="control">
                <input 
                  class="input"
                  type="text"
                  placeholder="******"
                  name="password"
                />
              </div>
          </div>

          <!-- SUBMIT -->
          <div class="field">
              <div class="control">
                  <button class="card-buttons button is-primary">Log in</button>
              </div>
          </div>
        </form>
      </div>

    </article>
  </section>
      
  <%- include('../partials/_footer.ejs') %>

</body>
</html>