<!DOCTYPE html>
<html lang="en">

  <%- include('../partials/_head.ejs', { 
    page: `ReVamp(ire)`, 
    cssFile: '/styles/auth.css'
  }) %>


<body>
  <section class="card">
    <article class="card-content">
      <h1 class='card-title'>Sign up</h1>

      <!-- FORM -->
      <div class="card-body">
        <form action="/signup" method="POST">

          <!-- EMAIL -->
          <div class="field">
            <div class="label-left-right">
                <h5 class="label label-left"> Email</h5>
                <p class="label label-right">
                    Already have an account?  
                    <a href='/login'>Log in</a>
                </p> 
            </div>
            <div class="control has-icons-left has-icons-right">
              <input 
                  class="input  is-success"
                  type="text"
                  placeholder="example@gmail.com"
                  name="email"
              />
              <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>
              <!-- <span class="icon is-small is-right">
                <i class="fas fa-check"></i>
              </span> -->
            </div>
          </div>
          
          <!-- PASSWORD -->
          <div class="field">
              <label class="label">
                Password
              </label>
              <div class="control has-icons-left">
                <input 
                  class="input"
                  type="password"
                  placeholder="******"
                  name="password"
                />
                <span class="icon is-small is-left">
                  <i class="fas fa-key"></i>
                </span>
              </div>
          </div>

          <!-- SUBMIT -->
          <div class="field">
              <div class="control">
                  <button class="card-buttons button is-primary">Sign up</button>
              </div>
              <p class="terms-of-service">By clicking the "Sign up for free" button, you are creating an account, and agree to W3Schools' <span class="bold">Terms of Service</span> and <span class="bold">Privacy Policy</span></p>
          </div>
        </form>
      </div>

    </article>
  </section>
      
  <%- include('../partials/_footer.ejs') %>

</body>
</html>