<!DOCTYPE html>
<html lang="en">

<%- include('../partials/_head.ejs', { page: `ReVamp(ire)`}) %>

<body>
    <section class="card">
        <div class="card-content">

            <div class="card-upper">
                <h3 class='title'>Sign up</h3>
            </div>

            <div class="card-mid">
                <form action="/signup" method="POST">
                    
                    <div class="field">
                        <label class="label">
                            Email
                        </label>
                        <div class="control">
                            <input 
                                class="input"
                                type="text"
                                placeholder="example@gmail.com"
                                name="email"
                            />
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">
                            Password
                        </label>
                        <div class="control">
                            <input 
                                class="input"
                                type="text"
                                placeholder="******"
                                name="password"
                            />
                        </div>
                    </div>

                    <div class="field">
                        <div class="control">
                            <button class="button is-primary">Sign up</button>
                        </div>
                    </div>
                </form>

            </div>
            
        </div>
    </section>
      

    <%- include('../partials/_footer.ejs') %>


</body>
</html>