<p> 
    <span>© 1999 - 2021</span>
    <a href="/">W3schools. 
    </a>
    <span>All rights reserved. </span>
    <a href="https://www.w3schools.com/about/about_privacy.asp">Cookie policy</a>
    <span>, </span>
    <a href="https://www.w3schools.com/about/about_privacy.asp">Privacy</a>
    <span> and </span>
    <a href="https://www.w3schools.com/about/about_copyright.asp">Terms.
    </a>
</p>