<section class="footer">
  <p class='footer'> 
    © 1999 - 2021
    <a href="/">W3schools. </a>
    All rights reserved.
    <a href="https://www.w3schools.com/about/about_privacy.asp">Cookie  policy</a>
    , 
    <a href="https://www.w3schools.com/about/about_privacy.asp">Privacy<a>
     and 
    <a href="https://www.w3schools.com/about/about_copyright.asp">Terms.
    </a>
  </p>
</section>