<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Vendor CSS: Bulma, FontAwesome -->
    <link 
        rel="stylesheet" 
        href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    >

    <link 
        rel="stylesheet" 
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    >

    <!-- Internal CSS: main.css -->
    <link rel="stylesheet" href="/styles/auth.css">
    

    <!-- Vendor JS: jQuery -->
    <script 
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"
        defer
    >
    </script>    

    <!-- Internal JS: main.js -->
    <!-- <script src="/scripts/main.js"></script> -->

    <title>W3Schools</title>

</head>