<nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="https://media.giphy.com/media/kKzFYlqCv7yDe/giphy.gif" width="50" height="50">
      </a>
    </div>
    <div class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item">Exercise</a>
        </div>
    </div>
</nav>
    