<!DOCTYPE html>
<html lang="en">

<%- include('./partials/_head.ejs', { page: `ReVamp(ire)`, cssFile: '/styles/main.css'}) %>

<body>

    <h1> 404!!</h1>
    <h1> You are seeing an EJS !!! </h1>
    
</body>
</html>