$primary-color: #04AA6D;
$secondary-button-color: rgba(59, 59, 59,0.5);
$tertiary-button-color: rgba(59, 59, 59,1);
$html-card-color: #282A35;
$css-card-color: #D9EEE1;
$js-card-color: #FFF4A3;
$text-background: #ffffff;
$exercise-box: #E7E9EB;
$exercise-footer: #D9EEE1;;
$exercise-menu: #000;
$accent: #FFF4A3