@use "../variables" as *;

@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Source+Sans+Pro:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    
}

nav { 
    a.navbar-link {
        width: 127px;
        padding: 24px 16px;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 18px;
        font-weight: 700;
    }
}

body {
    background-color: #282A35;

    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.5;

    .card {
        max-width: 1400px;
        margin: -12px auto;
        gap: 0px;
        display: grid;
        grid-template-columns: 50% 50%;
        border-radius: 0px;
        padding: 3%;
        color: black;
    }

    .html-card {
        background-color: $html-card-color;
        color: white;
    }

    .css-card {
        background-color: $css-card-color;
    }

    .js-card {
        background-color: $js-card-color;
    }  

    .button {
        width: 200px;
        border-radius: 25px;
        margin: 7px;
        padding: 8px 16px;
        vertical-align: middle;
        font-size: 18px;
        font-weight: 700;
    }
    
}

section {
    .card-left {
        text-align: center;
    }
    .card-right {
        padding: 16px;
    }

    h1 {
        margin-top: -18px;
        font-size: 100px;
        font-weight: 700;
    }
    h3 {
        margin: 1em 0;
        font-size: 19px;
        font-weight: 700;
    }

    #learnHTMLButton {
        background-color: $primary-color;
    }
}



article.card-left {
    div.card-left-buttons {
        display: grid;
        margin: auto;
        width: 200px;
    }
}

article.card-right {
    margin: auto;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    background-color: #E7E9EB;
    color: black;

    .card-header {
        margin: 10px 0;
        font-size: 24px;
        font-weight: 400;
    }

    .card-ide {
        margin: 20px, 0;
        border-left: 4px solid $primary-color;
        padding: 8px 12px;
        background-color: white;
        font-family: 'Inconsolata', monospace;
        font-size: 15px;
    }

}


