// <!-- Navbar: Home, Login/Logout, User info. -->
// <%- include('../partials/nav/_navExercise.ejs') %>

nav { 
  grid-area: nav;
  color: white;
  
  .navbar-link {
      width: 127px;
      padding: 24px 16px;
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 18px;
      font-weight: 700;
      color: white;
  }
  .navbar-dropdown {
      position: absolute;
      padding: 10 30 10 10;
      font-size: 15px;
      font-weight: 700;
      line-height: 1.5;
  }
  .dropdown-content-background-color {
      background-color: rgb(40,42,53);
  } 
  .dropdown-item-color {
      color: white;
  }
}