/* GLOBAL */

* {
  box-sizing: border-box;
  /* border: 1px solid rebeccapurple; */
}

/* ENTIRE CARD */

.card {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  font-family: 'Source Sans Pro', sans-serif;

  margin-top: 40px;
}

.card-content {
  min-height: 400px;
  min-width: 75vh;
}

/* LEFT CARD */

.card-title {
  font-size: 40px;
  font-weight: 600;
}

.card-body {
  /* min-height: 400px; */
}

.card-buttons {
  margin: 5px 0px;
  font-weight: 700;
}

.label-left-right {
  display: flex;
  justify-content: space-between;
}

.label-left {
  display: inline;
}

.label-right {
  display: inline;
  font-weight: 400;
}

.label-right a {
  color: rgb(0, 180, 0);
  font-weight: 600;
}

/* Footer */
.footer {
  text-align: center;
}