/* GLOBAL */
* {
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-areas: "nav nav" "aside main" "footer footer";
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 60px 3fr 1fr;
}

/* === Nav Bar === */
nav {
  grid-area: nav;
}
nav .navbar-brand:hover {
  background-color: white;
}
nav .navbar-brand:hover i {
  color: #485fc7;
}
nav .navbar-link {
  min-width: 150px;
  padding: 24px 16px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: white;
}
nav .navbar-dropdown {
  position: absolute;
  padding: 10 30 10 10;
  font-size: 15px;
  font-weight: 700;
  line-height: 1.5;
}
nav .dropdown-content-background-color {
  background-color: #282a35;
}
nav .dropdown-item-color {
  color: white;
}
nav .button {
  width: 200px;
  border-radius: 25px;
  margin: 7px;
  padding: 8px 16px;
  vertical-align: middle;
  font-size: 18px;
  font-weight: 700;
}
nav .fa-home {
  font-size: 22px;
  color: white;
}
nav #is-w3-green {
  background-color: #04AA6D;
  color: white;
  border: none;
}
nav #account, nav #account-text {
  color: white;
}

#navbar {
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
}

/* === Aside/Accordion Menu === */
.aside {
  grid-area: aside;
  display: grid;
  grid-template-columns: 1fr 5px;
}
.aside .menu {
  border: 1px solid lightgray;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  width: 40vh;
  padding: 0px;
}
.aside .aside-tracker {
  display: flex;
  justify-content: center;
  padding: 10px 5px 5px 10px;
  text-align: center;
  font-size: 15px;
  background-color: #E7E9EB;
}
.aside .aside-tracker a {
  display: inline;
  color: darkblue;
  margin-left: 8px;
}
.aside .menu-label {
  display: grid;
  grid-template-columns: 1fr 30px;
}
.aside .menu-label .fa-caret-down, .aside .menu-label .fa-caret-up {
  font-size: 24px;
}
.aside #menu-label-override {
  cursor: pointer;
  background-color: gray;
  color: white;
  padding: 10px;
  font-size: 18px;
  margin: 0px auto;
  padding-left: 10px;
  background-color: rgba(0, 0, 0, 0.8);
}
.aside .menu-list {
  font-size: 16px;
  color: #E7E9EB;
}
.aside .menu-list li {
  padding: 5px 0px;
}
.aside .menu-list a {
  padding-left: 30px;
}
.aside #collapse-lines {
  border-left: 0px solid black;
  border-right: 0px solid black;
  padding-left: 2px;
  margin: 5px 10px 5px 3px;
}
.aside #collapse-lines:hover {
  border-left: 2px solid rgba(128, 128, 128, 0.5);
  border-right: 2px solid rgba(128, 128, 128, 0.5);
}

/* === Card + Burger === */
main {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  grid-template-rows: auto;
  margin-left: 10px;
}
main .control {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
}

/* === BURGER === */
.exercise-navbar {
  padding: 15px;
}
.exercise-navbar i {
  cursor: pointer;
  height: auto;
  font-size: 21px;
  font-weight: 900;
}

/* === Card LOCAL === */
.card {
  margin-top: 10vh;
  display: grid;
  padding: 10px;
}

/* === Card Upper === */
.card-top .card-title {
  margin: 10 0;
  font-family: "Segoe UI", "Arial", sans-serif;
  font-size: 42px;
  font-weight: 400;
}
.card-top .card-desc {
  display: block;
  margin: 1.2 em 0;
  font-family: "Verdana", sans-serif;
  font-size: 15px;
}

/* === Card Mid: Inputs === */
.card-body {
  background-color: lightgray;
  padding: 30px 30px 50px 30px;
  min-height: 250px;
  border-radius: 5px;
}
.card-body .input {
  max-width: 125px;
  margin: 0px 10px;
}
.card-body #control-input {
  display: inline-flex;
  margin: 30px 0px;
  font-family: "Consolas", "Courier New", Courier, monospace;
  font-size: 120%;
  font-weight: 600;
  line-height: 1.7em;
}

/* === Card Lower: - Buttons === */
#container-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 30px 10px 0px 0px;
  align-content: center;
  margin: 0 auto;
}
#container-buttons .button {
  width: 200px;
  border-radius: 25px;
  margin: 40px 15px 0px 15px;
  padding: 8px 16px;
  font-size: 18px;
  font-weight: 700;
  color: white;
}
#container-buttons #submit-button {
  background-color: #04AA6D;
}
#container-buttons #show-answer-button, #container-buttons #hide-answer-button {
  background-color: rgba(59, 59, 59, 0.5);
}
#container-buttons #show-answer-button:hover, #container-buttons #hide-answer-button:hover {
  color: white;
  background-color: #3b3b3b;
}

/* === Footer (Hidden) === */
footer {
  grid-area: footer;
  padding: 5px;
  color: gray;
  border: 1px solid lightgray;
  text-align: center;
}

/*# sourceMappingURL=exercise.css.map */
