@import url("https://fonts.googleapis.com/css2?family=Inconsolata&family=Source+Sans+Pro:wght@400;700&display=swap");
* {
  box-sizing: border-box;
}

nav #is-60x60 {
  height: 45px;
  width: 45px;
  max-height: 45px;
}
nav .navbar-brand {
  margin-left: 15px;
}
nav .navbar-link {
  width: 127px;
  padding: 24px 16px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  font-weight: 700;
}
nav .navbar-dropdown {
  position: absolute;
  padding: 10 30 10 10;
  font-size: 15px;
  font-weight: 700;
  line-height: 1.5;
}
nav .dropdown-content-background-color {
  background-color: #282a35;
}
nav .dropdown-item-color {
  color: white;
}
nav .gsc-control-wrapper-cse {
  min-width: 300px;
  margin-top: 10px;
}

body {
  background-color: #282A35;
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1.5;
}
body .card {
  max-width: 1800px;
  margin: -12px auto;
  gap: 0px;
  display: grid;
  grid-template-columns: 50% 50%;
  border-radius: 0px;
  padding: 3%;
  color: black;
}
body .html-card {
  background-color: #282A35;
  color: white;
}
body .css-card {
  background-color: #D9EEE1;
}
body .js-card {
  background-color: #FFF4A3;
}
body .button {
  width: 200px;
  border-radius: 25px;
  margin: 7px;
  padding: 8px 16px;
  vertical-align: middle;
  font-size: 18px;
  font-weight: 700;
}
body #is-w3-green {
  background-color: #04AA6D;
  color: white;
}
body :hover #is-w3-green {
  background-color: #059862;
}

section .card-left {
  text-align: center;
}
section .card-right {
  padding: 16px;
}
section h1 {
  margin-top: -18px;
  font-size: 100px;
  font-weight: 700;
}
section h3 {
  margin: 1em 0;
  font-size: 19px;
  font-weight: 700;
}
section #learnHTMLButton {
  background-color: #04AA6D;
}

/* === Both Card Styling === */
article.card-content .button {
  width: 200px;
  border: none;
  border-radius: 25px;
  margin: 7px;
  padding: 8px 16px;
  vertical-align: middle;
  font-size: 18px;
  font-weight: 700;
}
article.card-content a.card-buttons {
  margin-top: 15px;
}
article.card-content #is-yellow {
  background-color: #FFF4A3;
  color: black;
}

/* === Left Card Styling === */
article.card-left {
  text-align: center;
}
article.card-left div.card-left-buttons {
  display: grid;
  margin: auto;
  width: 200px;
}
article.card-left h1 {
  margin-top: -18px;
  font-size: 100px;
  font-weight: 700;
}
article.card-left h3 {
  margin: 1em 0;
  font-size: 19px;
  font-weight: 700;
}

/* === Right Card Styling === */
article.card-right {
  margin: auto;
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  padding: 16px;
  background-color: #E7E9EB;
  color: black;
}
article.card-right .card-header {
  margin: 10px 0;
  font-size: 24px;
  font-weight: 400;
}
article.card-right .card-ide {
  margin: 20px, 0;
  border-left: 4px solid #04AA6D;
  padding: 8px 12px;
  background-color: white;
  font-family: "Inconsolata", monospace;
  font-size: 15px;
}

/* === Footer Styling: O === */
footer {
  background-color: #282A35;
  color: white;
  padding: 15px 40px;
}
footer p {
  padding: 15px;
}
footer a {
  color: white;
  text-decoration: underline;
}

/*# sourceMappingURL=main.css.map */
