<article class='card-content card-right column'>
    <h2 class='card-header'> <%= header %> </h2>
    <div class='card-ide'>
      <%- include('../codeColors/_codebox_html.ejs') %>
    </div>
    <a href="<%= link %>" class="button card-buttons"id="is-w3-green">Try it Yourself</a>      
</article>